# <center><u>Numpy</u></center>

# Numpy Basics
Welcome to section of Numpy. This is the one of the most used Python libraries for data science. NumPy consists of a powerful data structure called multidimensional arrays.

NumPy is a library written for scientific computing and data analysis. It stands for numerical python and also known as array oriented computing.

The most basic object in NumPy is the ndarray, or simply an array which is an n-dimensional, homogeneous array. By homogenous, we mean that all the elements in a NumPy array have to be of the same data type, which is commonly numeric (float or integer).


 # Why Numpy?
 convenience & speed
 
Numpy is much faster than the standard python ways to do computations.
 
Vectorised code typically does not contain explicit looping and indexing etc. (all of this happens behind the scenes, in precompiled C-code), and thus it is much more concise.

Also, many Numpy operations are implemented in C which is basically being executed behind the scenes, avoiding the general cost of loops in Python, pointer indirection and per-element dynamic type checking. The speed boost depends on which operations you're performing.
 
 NumPy arrays are more compact than lists, i.e. they take much lesser storage space than lists

## 1. Variable Declarartion

Reference:-https://www.youtube.com/watch?v=Y_nVWb9bcHY

<p style='text-align: right;'> 5 points</p>

In [ ]:
# Import numpy using alias np

In [ ]:
# create a numpy array 'a' with elements 1,2,3
# create a two dimensional array 'b' with elements(1,2,3) and (4,5,6)

In [ ]:
# print the values of a and b

[1 2 3]
[[1 2 3]
 [4 5 6]]

Print shape of both a and b

In [ ]:
# your code here

(3,)
(2, 3)

Print the data types of a and b

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

## 2. Add, remove elements and Memory Sharing

Reference:- https://www.youtube.com/watch?v=dEnCfapUbEw<br>
            https://www.youtube.com/watch?v=17vysCjwjxc

<p style='text-align: right;'> 10 points</p>

Declare x = np.array([ 5,10, 20, 12, 3])

In [ ]:
# declare x 
x = #your code here

Add a new element 1 at the end of x

In [ ]:
# your code here


print(x) # check if 1 is added

[ 5 10 20 12  3  1]

Delete the second element of x

In [ ]:
# your code here 

print(x) # check if the second element has been deleted

[ 5 20 12  3  1]

Set y = x

Set the first element y =  1

In [ ]:
# set first element of y to be 1

print(y)

[ 1 20 12  3  1]

Print x and y

[ 1 20 12  3  1]
[ 1 20 12  3  1]

<b>you modified y, OMG!! but why x is also affected? Just give a try to answer this quest below </b>

In [ ]:
# write in commented form or markdown format

Set z = np.copy(x)

In [ ]:
z = #your code here

Set the first element of y as 100

print x and z to see if there is any change in x.

[ 1 20 12  3  1]
[100  20  12   3   1]

<b>Hey the above output seems so interesting!!. When used copy function the changes did not affect on x. Can you Guess why ?<b>

In [ ]:
# write here

## 4. Using various Numpy Functions.

Reference:- https://www.youtube.com/watch?v=HL-nfSG6F2I

<p style='text-align: right;'> 8*2 = 16 points</p>

Create a numpy array containing numbers from 1 to 12

In [ ]:
# x = #your code here 

print(x)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

Create a numpy array containing even numbers between 1 to 20

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

Create an array of 2 rows and 2 columns containing all zeros.

array([[0., 0.],
       [0., 0.]])

Create a matrix containing 3 rows and 2 columns where all the values are 1.

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

Create a matrix of size 5x5 where all are diagonal elements are 1, rest being 0.

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

Create a matrix of size 4x2 where all the elements are 4

array([[4, 4],
       [4, 4],
       [4, 4],
       [4, 4]])

Create a matrix where diagonal elements are [1 , 2, 3, 4, 5] and rest are zero

array([[1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0],
       [0, 0, 0, 0, 5]])

Create a matrix of size 3x3 which contains random numbers from 0 to 1.

array([[0.0543848 , 0.27263345, 0.36196624],
       [0.96421013, 0.55076457, 0.33637611],
       [0.08703552, 0.55070306, 0.61533377]])

Create a numpy array of shape (50,) such that it contains evenly spaced numbers, from 1 to 20.

array([ 1.        ,  1.3877551 ,  1.7755102 ,  2.16326531,  2.55102041,
        2.93877551,  3.32653061,  3.71428571,  4.10204082,  4.48979592,
        4.87755102,  5.26530612,  5.65306122,  6.04081633,  6.42857143,
        6.81632653,  7.20408163,  7.59183673,  7.97959184,  8.36734694,
        8.75510204,  9.14285714,  9.53061224,  9.91836735, 10.30612245,
       10.69387755, 11.08163265, 11.46938776, 11.85714286, 12.24489796,
       12.63265306, 13.02040816, 13.40816327, 13.79591837, 14.18367347,
       14.57142857, 14.95918367, 15.34693878, 15.73469388, 16.12244898,
       16.51020408, 16.89795918, 17.28571429, 17.67346939, 18.06122449,
       18.44897959, 18.83673469, 19.2244898 , 19.6122449 , 20.        ])

## 5. Reshaping

Reference:-https://www.youtube.com/watch?v=sGCuryS8zjc

<p style='text-align: right;'> 4+1 = 5 points</p>

Use np.arange to create  a numpy array with values between 0 to 23

In [ ]:
a = #your code here 

print(a)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [ ]:
# print the shape of a

(24,)

Using a suitable method, reshape a to have a dimension of (3,8). Print b and its shape

In [ ]:
b = #your code here

(3, 8)
[[ 0  1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14 15]
 [16 17 18 19 20 21 22 23]]

Create another numpy array c  = a.reshape(2,-1)

In [ ]:
c = # your code here

In [ ]:
#print c

[[ 0  1  2  3  4  5  6  7  8  9 10 11]
 [12 13 14 15 16 17 18 19 20 21 22 23]]

Print the shape of c.

(2, 12)

<b>Hey check above, what role -1 has played in reshape function. Don't worry</b>
<b> ok let me tell you this fun fact</b>

When using a -1, the dimension corresponding to the -1 will be the product of the dimensions of the original array divided by the product of the dimensions given to reshape so as to maintain the same number of elements

________

## 6. Accessing numpy arrays

Reference:-https://www.youtube.com/watch?v=y7kcnPy-NtQ

<p style='text-align: right;'> 6 points</p>

### Create an array, a = np.array([2,4,6,8,10,12,14,16])

In [ ]:
# code here

In [ ]:
# print a

array([ 2,  4,  6,  8, 10, 12, 14, 16])

<b>Using indexing and slicing, select the following mentioned subsets - </b>

In [ ]:
# [4]
#code here

4

In [ ]:
#[4, 8, 12]

array([ 4,  8, 12])

In [ ]:
# [10, 12, 14, 16]

array([10, 12, 14, 16])

In [ ]:
# [14, 16]

array([14, 16])

In [ ]:
# [2, 6, 10, 14]

array([ 2,  6, 10, 14])

## 7. Transposing

Reference:-https://www.youtube.com/watch?v=oNjX7nzFzrc

<p style='text-align: right;'> 4 points</p>

Create an array a = np.array([ [1, 2, 3], [4, 5, 6], [7,8,9], [10,11,12] ] )

What is the shape of a?

(4, 3)

### Create another array b which is transpose of a

Print b and its shape

[[ 1  4  7 10]
 [ 2  5  8 11]
 [ 3  6  9 12]]

(3, 4)

## 8. Mathematical Operations

Reference:-https://www.youtube.com/watch?v=17vysCjwjxc

<p style='text-align: right;'> 8 points</p>

### Complete the following tasks given in comment using numpy function.

In [ ]:
# complete your tasks here

# Create an array, a = np.arange(10) and print a

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
# Find sin value of a

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [ ]:
# Find cos value a

array([ 1.        ,  0.54030231, -0.41614684, -0.9899925 , -0.65364362,
        0.28366219,  0.96017029,  0.75390225, -0.14550003, -0.91113026])

In [ ]:
# Find exponential of all the values in a.

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [ ]:
# Find the sum of all the values in a.

45

In [ ]:
# Find the median value in a.

4.5

In [ ]:
#Find the max value of a

9

In [ ]:
#Find the min value of a

0

In [ ]:
# Find the index of the maximum element in a

9

## 9. Hstack and vstack

Reference: https://www.youtube.com/watch?v=ksqPbrS-b78

<p style='text-align: right;'> 1 + 1 + 2 + 2 = 6 points</p>

Create a = np.array( [ [1, 2, 3], [ 4, 5, 6], [7 ,8, 9] ]) and print a.

[[1 2 3]
 [4 5 6]
 [7 8 9]]

Create b = np.array( [ [10, 11, 12] , [13,14,15], [16, 17, 18] ]) and print b

[[10 11 12]
 [13 14 15]
 [16 17 18]]

Create a new array c stacking a and b horizontally, print the values and shape of this array.

[[ 1  2  3 10 11 12]
 [ 4  5  6 13 14 15]
 [ 7  8  9 16 17 18]]
(3, 6)

Create a new array d stacking a and b vertically, print the values and shape of this array.

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]
 [16 17 18]]
(6, 3)

____________

# Woohoo!!! you completed the 3rd milestone challenge too! Congratulations. 



____________

# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to helping you use AIforAll course to its full potential so you can grow with us. And that’s why we need your help in form of a feedback here

We appreciate your time for your thoughtful comment below

Space to comment:

<br>

**Rate the following in the scale of 1 to 10**

Assignment Difficulty Level

**Rate**:

Question Clarity Level

**Rate**:

YouTube video content quality.

**Rate**